.emptySpace{
    height: 20vh;
}

.contact{
    min-height: 80vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1008) 0%, rgba(121, 199, 255, 0.252) 98.58%);
    /* padding: 50px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactBox{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; */
    display: flex;
}

.contactForm {
    text-align: left;
    border-top: 1px solid #ADB5BD;
    border-left: 1px solid #ADB5BD;
    border-bottom: 1px solid #ADB5BD;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    background-color: white;
}

.contactForm h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.formGrp{
    margin-bottom: 10px;
}
.contact-input {
    width: 400px;
    padding: 12px;
    border-radius: 4px;
    border:none;
    background-color: #f8f9fa;
    color: #333;
    box-shadow: 0 1px 4px #bbb;
}
.contact-input:focus{
    outline:none;
    box-shadow: 0 5px 8px #bbb;
}
.sendBtn{
    display: inline-block;
    padding: 12px 24px;
    background-color:#000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.sendBtn:hover{
    background-color: #003566;
    box-shadow: 0 3px 6px #555;
}

.contactInfo{
    text-align: left; 
    background: linear-gradient(180deg, #4E65FF 0%, #92EFFD 98.58%);
    padding: 50px;
    width: 500px;
}

.contactInfo h3{
    font-size: 26px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

.contactInfo p{
    /* margin-bottom: 40px; */
    color: white;
}
.infowithlogo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 40px 0;
}
.infowithlogo svg{
    margin-right: 20px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .contactBox{
    grid-template-columns: 1fr;
    }
}

.c-socialIcons svg{
    margin-top: 100px;
    height: 22px;
    margin-right: 20px;
    transition: 0.3s;
}