.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 10vh;
}

.navlinks ul{
    display: flex;
    list-style: none;
}

.navlinks ul li{
    padding: 0px 40px;
}

.navlinks ul li a{
    text-decoration: none;
    color: #6C757D;
    font-size: 18px;
    transition: 0.3s;
}
/* .navlinks ul li a::after{
    content: "";
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
} */
.navlinks ul li a:hover{
    text-decoration: underline;
    color: black;
}

.signInbtn{
    border: none;
    background-color: white;
    font-size: 16px;
    color: #6C757D;
    margin: 0;
    padding-right: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.signInbtn:hover{
    color: black;
}
.loginbtn{
    margin: 0;
}

.AvatarCircle {
    height: 35px;
    width: 35px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C757D;
}
.AvatarCircle svg{
    height: 20px;
}

.drpdwn-menu{
    position: absolute;
    background-color: #dee2e6;
    top: 70px;
    right: 40px;
    border-radius: 12px;
    padding:20px 0px;
    width: 150px;
    z-index: 3;
}

.drpdwn-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 110px;
    height: 20px;
    width: 20px;
    background:#dee2e6;
    transform: rotate(45deg);
}

.drpdwn-menu ul{
    list-style: none;
}
.drpdwn-menu ul li{
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003566;
}
.drpdwn-menu ul li .menu-item{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;

}
.drpdwn-menu ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.drpdwn-menu ul li svg{
    padding-right: 10px;
}
.drpdwn-menu ul a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.drpdwn-menu ul li a:hover{
    color: #003566;
}

.drpdwn-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.3s ease;
}
.drpdwn-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease;

}